@{
    ViewBag.Title = "Potalk";
}

@model Potalk.Models.LoginModel

@using (Html.BeginForm("Main", "Home"))
{
    <span>Username:</span>
    <br />
    @Html.TextBoxFor(model => model.Username, new { @required = "required" })
    <br />
    <br />
    @Html.CheckBoxFor(model => model.ReadOnly)
    <span>Read only</span>
    <br/>
    <br />
    <input id="reader" type="submit" value="Log in" />
}