@{
    ViewBag.Title = "Potalk";
}

@model Potalk.DTO.LoginDTO

@using (Html.BeginForm("Main", "Home"))
{
    <div class="form-group">
        <label for="username">Username</label>
        <br />
        @Html.TextBoxFor(model => model.Username, new { @id = "username", @required = "required", @class = "form-control" })
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(model => model.ReadAccessOnly) Read only
        </label>
    </div>
    <div class="form-group">
        <input id="reader" type="submit" class="btn btn-default" value="Log in" />
    </div>
}
