
@{
    ViewBag.Title = "Potalk";
}

@model Potalk.DTO.AuthDTO

<div class="form-inline">
    <textarea id="chat" class="form-control" readonly></textarea>
    <select id="chatusers" class="form-control" multiple></select>
</div>
<br>
<div class="form-inline">
    <input id="message" type="text" class="form-control" placeholder="Enter your message..." />
    <input id="send" type="button" class="btn btn-default" value="Send" />
</div>

<script>
    document.getElementById("send").addEventListener("click", function () {
        if (document.getElementById("message").value !== "") {
            publish(document.getElementById("message").value);
            document.getElementById("message").value = "";
        }
    });

    document.getElementById("message").addEventListener("keyup", function (event) {
        event.preventDefault();
        if (event.keyCode == 13) {
            document.getElementById("send").click();
        }
    });

    init(@Html.Raw(Json.Encode(Model.PublishKey)), @Html.Raw(Json.Encode(Model.SubscribeKey)), @Html.Raw(Json.Encode(Model.AuthKey)),
    @Html.Raw(Json.Encode(Model.Username)));
</script>
